.hero-section {
  color: $white;
  padding-top: 149px;
  padding-bottom: 205px;
  position: relative;
  background-position: center center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    background-image: url('../../images/hero-bottom-graphics.png');
    //background-size: 100% 100%;
    background-size: cover;
    z-index: 2;
  }

  h1 {
    position: relative;
    z-index: 5;
  }
}

.page-id-42 .hero-section {
  background-size: 100%;
  background-position-y: top;

  @include breakpoint(small down) {
    background-size: cover;
  }
}

.error404 {
  .hero-section {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    @media (max-width: 1300px) {
      background-size: cover;
    }
  }
}

.archive {
  .hero-section {
    min-height: 700px;

    @include breakpoint(small down) {
      min-height: unset;
    }
  }
}
