.footer {
  margin-top: auto;
  background-color: $midnight-blue;
  padding: 60px 0;
}

.footer__logo {
  text-align: center;

  img {
    //max-height: 120px;
    width: 100%;
  }
  @include breakpoint(medium down) {
    margin-bottom: 32px;
    img {
      max-width: fit-content;
    }
  }
}

.footer__sp {
  margin-top: 24px;
  text-align: center;

  .stay-tuned {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    &__link {
      span {
        width: 30px;
        height: 30px;
        background-color: $white;
        display: flex;
        font-size: 24px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $midnight-blue;
        border-radius: 50%;
      }

      .fa-youtube,
      .fa-instagram {
        color: $white;
        background-color: transparent;
        font-size: 28px;
      }

      .fa-instagram {
        font-size: 32px;
      }

      .fa-facebook-f,
      .fa-pinterest-p {
        align-items: flex-end;
      }

      &:hover {
        .fa-youtube,
        .fa-instagram {
          color: $sun;
        }

        .fa-facebook-f,
        .fa-pinterest-p {
          background-color: $sun;
        }
      }
    }
  }
}

.footer-menu {
  @include list-unstyled;

  text-align: center;

  li {
    display: inline-block;

    a {
      display: block;
      padding: 5px 10px;
    }
  }
}

.footer__copy {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  text-align: center;
  color: $white;
  margin-top: 32px;
}

.cta-section {
  background-color: $midnight-blue;

  &__container {
    border-bottom: 1px solid $pacificblue;
    padding: 60px 0;

    .form-col {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 16px;

      h4 {
        max-width: 248px;
        width: 100%;
        color: $white;
        margin-bottom: 0;
      }

      .gform_fields {
        .gfield {
          grid-column: span 7 !important;

          input {
            height: 42px;
            width: 272px;
            border-radius: 4px;
          }
        }

        #field_submit {
          grid-column: span 4 !important;

          .gform-button {
            background-color: $sun;
            color: $midnight-blue;
            font-size: 16px;
            line-height: 22.4px;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 9px 0;
            position: relative;
            padding: 8px 43px 8px 16px;

            &:after {
              content: url('../../images/arrow.svg');
              position: absolute;
              width: 19px;
              height: 19px;
              top: 50%;
              transform: translateY(-50%);
              right: 16px;
              transition: all 0.5s ease-out;
              text-transform: uppercase;
            }

            &:hover,
            &:focus {
              /* basic hover and focus effects */
              background-color: $sun-light;
              color: $midnight-blue;

              &:after {
                right: 8px;
              }
            }
          }
        }

        &:after {
          display: none;
        }
      }

      .gfield {
        margin-bottom: 0;
      }

      .gform_footer {
        margin: 0;
      }

      @include breakpoint(medium down) {
        margin-bottom: 32px;
        flex-direction: column;

        h4 {
          margin-bottom: 16px;
        }
      }
      @include breakpoint(small down) {
        .gform_fields {
          grid-row-gap: 16px;

          .gfield {
            grid-column: 1/-1 !important;

            input {
              height: 42px;
              width: 100%;
              border-radius: 4px;
            }
          }

          #field_submit {
            .gform-button {
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }

    .map-col {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 20px;

      .cta-map-info {
        width: 50%;

        h4 {
          color: $white;
          margin-bottom: 16px;
        }

        a {
          color: $white;
          font-weight: 600;
          text-transform: uppercase;
          display: inline-block;
          font-size: 16px;
          line-height: 140%; /* 22.4px */

          span {
            margin-left: 12px;
            margin-bottom: 0;
            vertical-align: middle;
          }

          &:hover {
            color: $sun;
            transition: all 0.5s ease-out;

            svg {
              path {
                fill: $sun;
                transition: all 0.5s ease-out;
              }
            }
          }
        }
      }

      .cta-map-image {
        width: 50%;

        img {
          width: 100%;
        }
      }

      @include breakpoint(small down) {
        flex-direction: column;
        text-align: center;
        .cta-map-info {
          margin-bottom: 16px;
          width: 100%;
        }
        .cta-map-image {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}

.cta-bg {
  height: 474px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: -5px;
  margin-top: -474px;

  img {
    height: 301px;
    width: 100%;
    object-position: bottom center;
    //object-fit: cover;
  }
  @media (max-width: 1600px) {
    img {
      object-fit: cover;
      object-position: bottom left;
    }
  }
}

.footer-links-wrap {
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 100px;

  .footer-links {
    display: flex;
    flex-direction: column;

    .links-title {
      font-size: 14px;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
      letter-spacing: 2.8px;
      text-transform: uppercase;
    }

    a {
      font-size: 16px;
      font-weight: 600;
      line-height: 140%; /* 22.4px */
      margin-bottom: 10px;
    }
  }

  .footer-contact__links {
    color: $white;
    //margin: auto;
    //max-width: 50%;

    .links-title {
      font-size: 14px;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
      letter-spacing: 2.8px;
      text-transform: uppercase;
    }

    .footer-contact-info {
      margin-bottom: 0;

      address,
      a {
        font-size: 16px;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
        margin-bottom: 10px;
        display: block;
      }

      address {
        line-height: 160%;
        //margin-bottom: 0;
      }
    }
  }
  @include breakpoint(medium down) {
    padding: 0 20px;
  }
  @include breakpoint(small down) {
    flex-direction: column;
    gap: 32px;
    .footer-contact__links,
    .footer-links {
      width: 100%;
      text-align: center;
    }
  }
}
