.header {
  padding: 0 0 24px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: $white;
}
.admin-bar .header {
  top: 32px;
}

.header-top-bar {
  background-color: $midnight-blue;
  padding: 8px 0;
  margin-bottom: 24px;

  .header-top-bar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $white;

    .map-link {
      a {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: $font;
        &:before {
          content: url('../../images/map.svg');
          width: 20px;
          height: 20px;
          margin-right: 8px;
          vertical-align: middle;
          display: inline-block;
        }
        //&:before {
        //  content: '\f279';
        //  font-family: $fa;
        //  color: transparent;
        //  -webkit-text-stroke: 1px $white;
        //  margin-right: 8px;
        //  font-size: 14px;
        //  vertical-align: middle;
        //}
      }
    }

    .header-contact-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 24px;
      position: relative;

      span,
      a,
      p {
        margin-bottom: 0;
        font-weight: 600;
      }

      .phone-number {
        &:before {
          content: url('../../images/phone.svg');
          width: 20px;
          height: 20px;
          margin-right: 8px;
          vertical-align: middle;
          display: inline-block;
        }
      }
      .hours {
        &:before {
          content: url('../../images/time.svg');
          width: 20px;
          height: 20px;
          margin-right: 8px;
          vertical-align: middle;
          display: inline-block;
        }
      }

      .search-form-container {
        padding-left: 16px;
        //position: relative;

        .search-button-show {
          cursor: pointer;
          color: $white;
        }

        .search-form {
          position: absolute;
          right: 0;
          left: 0;
          top: 120%;
          display: none;

          .search {
            //width: 250px;
            input {
              border-radius: 9px 0;
            }
          }
        }

        .search-form.show {
          display: block;
        }
      }
    }
  }
}

.header-top-bar__container,
.menu-grid-container {
  max-width: 1512px;
}

.logo {
  text-align: center;

  h1 {
    font-size: 0;
  }

  a {
    display: inline-block;
  }

  img {
    max-height: 150px;
  }
}

@include breakpoint(small down) {
  /* TOP BAR Mobile STYLING */

  .menu-grid-container {
    padding-left: 0;
    padding-right: 0;

    .grid-margin-x {
      margin-left: 0;
      margin-right: 0;

      .cell {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  //.title-bar {
  //  line-height: 45px;
  //
  //  .menu-icon {
  //    padding: 0;
  //    border: none;
  //    background-color: transparent;
  //
  //    //@include menu-icon($white, $white, 30px, 24px, 3px);
  //  }
  //}

  .top-bar {
    display: none;
    background: $primary-color; /* menu list background color */
  }

  .header-menu {
    background: transparent;

    li {
      > a {
        background: $primary-color; /* menu item background color */
        color: $white; /* menu item text color */
        line-height: 45px;

        &:focus {
          &,
          & + .submenu-toggle {
            background: darken(
              $primary-color,
              5
            ); /* menu item background color on hover */
          }
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a,
        .submenu-toggle {
          background: lighten(
            $primary-color,
            5
          ); /* current/parent menu item background color */
        }
      }

      &[aria-expanded='true'] {
        > a,
        .submenu-toggle {
          background: darken(
            $primary-color,
            3
          ); /* menu item background color on open dropdown */
        }
      }
    }

    .submenu-toggle {
      padding: 0;
    }

    .submenu {
      a {
        padding-left: #{get-side($accordionmenu-padding, 'left') * 1.65};
      }

      .submenu {
        a {
          padding-left: #{get-side($accordionmenu-padding, 'left') * 2.3};
        }
      }
    }
  }
}

@include breakpoint(medium) {
  /* TOP BAR STYLING */

  .header-menu.menu {
    /* Align menu items to the right */
    // justify-content: flex-end;

    /* Align menu items to the center */
    // justify-content: center;

    li {
      > a {
        /* Regular menu item style */
        line-height: 40px;
        color: $primary-color;

        &:hover {
          /* menu item style on hover */
          background: $primary-color;
          color: $white;
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a {
          /* Style of Current page and Ancestor page */
          background: $primary-color;
          color: $white;
        }
      }

      &.has-dropdown {
        > a {
          /* Style of item with dropdown */
        }
      }

      &.is-active > a {
        /* Parent link style on dropdown hover */
        background: $white;
        color: $primary-color;
      }
    }

    /* Dropdown item styling */

    .submenu {
      z-index: 11;
      display: none;

      &.js-dropdown-active {
        display: block;
      }

      li {
        > a {
          /* Regular link in dropdown */
          background: $white;
          color: $primary-color;
          line-height: 30px;

          &:hover {
            /* Dropdown link on hover */
            background: lighten($primary-color, 10);
            color: $white;
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a {
            background: lighten($primary-color, 10);
            color: $white;
          }
        }
      }

      .submenu {
        /* Styles for 2nd level dropdown menu */
      }
    }
  }
}
