.header {
  padding: 0 0 24px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: $white;
  box-shadow: 0px 8px 8px -4px rgba(65, 75, 90, 0.03),
    0px 20px 24px -4px rgba(65, 75, 90, 0.03);
}
.admin-bar .header {
  top: 32px;
}

.header-top-bar {
  background-color: $midnight-blue;
  padding: 8px 0;
  margin-bottom: 24px;

  .header-top-bar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $white;

    .map-link {
      a {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: $font;
        &:before {
          content: url('../../images/map.svg');
          width: 20px;
          height: 20px;
          margin-right: 8px;
          vertical-align: middle;
          display: inline-block;
        }
        //&:before {
        //  content: '\f279';
        //  font-family: $fa;
        //  color: transparent;
        //  -webkit-text-stroke: 1px $white;
        //  margin-right: 8px;
        //  font-size: 14px;
        //  vertical-align: middle;
        //}
      }
    }

    .header-contact-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 24px;
      position: relative;

      span,
      a,
      p {
        margin-bottom: 0;
        font-weight: 600;
      }

      .phone-number {
        &:before {
          content: url('../../images/phone.svg');
          width: 20px;
          height: 20px;
          margin-right: 8px;
          vertical-align: middle;
          display: inline-block;
        }
      }
      .hours {
        &:before {
          content: url('../../images/time.svg');
          width: 20px;
          height: 20px;
          margin-right: 8px;
          vertical-align: middle;
          display: inline-block;
        }
      }

      .search-form-container {
        padding-left: 16px;
        //position: relative;

        .search-button-show {
          cursor: pointer;
          color: $white;
        }

        .search-form {
          position: absolute;
          right: 0;
          left: 0;
          top: 120%;
          display: none;

          .search {
            //width: 250px;
            input {
              border-radius: 9px 0;
            }
          }
        }

        .search-form.show {
          display: block;
        }
      }
    }
  }
}

.header-top-bar__container,
.menu-grid-container {
  max-width: 1368px;
}

.logo {
  text-align: center;

  h1 {
    font-size: 0;
  }

  a {
    display: inline-block;
  }

  img {
    max-height: 150px;
  }
}

.hide-on-desktop {
  display: none;
}

@include breakpoint(small down) {
  /* TOP BAR Mobile STYLING */

  .menu-grid-container {
    padding-left: 0;
    padding-right: 0;

    .grid-margin-x {
      margin-left: 0;
      margin-right: 0;

      .cell {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  //.title-bar {
  //  line-height: 45px;
  //
  //  .menu-icon {
  //    padding: 0;
  //    border: none;
  //    background-color: transparent;
  //
  //    //@include menu-icon($white, $white, 30px, 24px, 3px);
  //  }
  //}

  .top-bar {
    display: none;
    background: $primary-color; /* menu list background color */
  }

  .header-menu {
    background: transparent;

    li {
      > a {
        background: $primary-color; /* menu item background color */
        color: $white; /* menu item text color */
        line-height: 45px;

        &:focus {
          &,
          & + .submenu-toggle {
            background: darken(
              $primary-color,
              5
            ); /* menu item background color on hover */
          }
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a,
        .submenu-toggle {
          background: lighten(
            $primary-color,
            5
          ); /* current/parent menu item background color */
        }
      }

      &[aria-expanded='true'] {
        > a,
        .submenu-toggle {
          background: darken(
            $primary-color,
            3
          ); /* menu item background color on open dropdown */
        }
      }
    }

    .submenu-toggle {
      padding: 0;
    }

    .submenu {
      a {
        padding-left: #{get-side($accordionmenu-padding, 'left') * 1.65};
      }

      .submenu {
        a {
          padding-left: #{get-side($accordionmenu-padding, 'left') * 2.3};
        }
      }
    }
  }
}

@include breakpoint(medium) {
  /* TOP BAR STYLING */
  .top-bar {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .menu-main-menu-container {
    width: 100%;
  }
  .header-menu.menu {
    /* Align menu items to the right */
    // justify-content: flex-end;

    /* Align menu items to the center */
    // justify-content: center;

    // /* Align menu items to the spase-between */
    justify-content: space-around;
    height: 100%;
    width: 100%;

    li {
      padding: 0 20px;
      > a {
        /* Regular menu item style */
        font-size: 18px;
        font-weight: 600;
        line-height: 140%; /* 25.2px */
        color: $midnight-blue;
        text-transform: uppercase;
        position: relative;
        padding: 8px 0;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background-color: $pacificblue;
          transition: all 0.5s ease-out;
        }

        &:hover {
          /* menu item style on hover */
          //background: $primary-color;
          //color: $white;
          &:after {
            transform-origin: center;
            width: 100%;
          }
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a {
          /* Style of Current page and Ancestor page */
          //background: $primary-color;
          //color: $white;

          &:after {
            transform-origin: center;
            width: 100%;
          }
        }
      }

      &.has-dropdown {
        > a {
          /* Style of item with dropdown */
        }
      }

      &.is-active > a {
        /* Parent link style on dropdown hover */
        background: $white;
        color: $primary-color;
      }
    }

    /* Dropdown item styling */

    .submenu {
      z-index: 11;
      display: none;

      &.js-dropdown-active {
        display: block;
      }

      li {
        > a {
          /* Regular link in dropdown */
          background: $white;
          color: $primary-color;
          line-height: 30px;

          &:hover {
            /* Dropdown link on hover */
            background: lighten($primary-color, 10);
            color: $white;
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a {
            background: lighten($primary-color, 10);
            color: $white;
          }
        }
      }

      .submenu {
        /* Styles for 2nd level dropdown menu */
      }
    }
  }
}

.header-modal-buttons {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    text-transform: uppercase;
    padding: 0 20px;
    color: $midnight-blue;
    span {
      padding: 8px 0;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: $pacificblue;
        transition: all 0.5s ease-out;
      }

      &:hover {
        &:after {
          transform-origin: center;
          width: 100%;
        }
      }
    }
  }
}

.header-modals {
  position: absolute;
  width: 100%;
  max-width: 1512px;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  padding: 72px;
  box-shadow: 0px 8px 8px -4px rgba(65, 75, 90, 0.03),
    0px 20px 24px -4px rgba(65, 75, 90, 0.08);

  .move-links,
  .explore-links {
    max-width: 1368px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

    .link-wrap {
      width: 100%;
      max-width: 320px;
      .image {
        margin-bottom: 16px;
        img {
          border-radius: 9px 0;
          width: 100%;
          aspect-ratio: 320/246;
          transition: all 0.5s ease-out;
        }
      }

      .link-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 140%; /* 25.2px */
        text-transform: uppercase;
        color: $midnight-blue;
      }

      &:hover {
        .image {
          img {
            box-shadow: 8px 8px 0px 0px rgba(113, 158, 115, 0.6);
          }
        }
        .link-title {
          color: $midnight-blue;
        }
      }
    }
  }
  .move-links {
    .link-wrap {
      max-width: 669px;
      .image {
        img {
          width: 100%;
          aspect-ratio: 669/246;
        }
      }
    }
  }
}
