/* Slick slider default styles */

// Override slick variables (to use default slick styles just remove variables below)
$slick-font-family: $fa;
$slick-prev-character: '\f104';
$slick-next-character: '\f105';
$slick-dot-character: '\f111';
$slick-arrow-color: $white;
$slick-dot-color: $primary-color;
$slick-dot-color-active: $primary-color;
$slick-dot-size: 1rem;
$slick-arrow-size: 2rem;

@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

/* Arrows */
.slick-arrow {
  width: $slick-arrow-size / 2;
  height: $slick-arrow-size;
  z-index: 1;

  &::before {
    font-weight: 900;
    font-size: $slick-arrow-size;
  }
}

.slick-prev {
  left: 2rem;
}

.slick-next {
  right: 2rem;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 45px;
}

.slick-dots {
  bottom: -45px;
  //transform: translateX(-50%);
  left: 0;
  right: 0;
  height: auto;

  li {
    width: 100%;
    max-width: fit-content;
    height: auto;

    button {
      width: 64px;
      height: 5px;
      background-color: #fae2bb;
      padding: 0;

      &::before {
        display: none;
      }
    }
  }

  .slick-active {
    button {
      background-color: $sun !important;
    }
  }

  @include breakpoint(medium down) {
    li {
      button {
        width: 16px;
      }
    }
  }
}
