/* ---------------------------------------
	Typography
--------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    color: inherit;
  }
}

h1,
.h1 {
  /* basic heading styles */
  font-family: $sub-font;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
}

h2,
.h2 {
  /* basic heading styles */
}

h3,
.h3 {
  /* basic heading styles */
  font-family: $sub-font;
  font-size: 36px;
  font-weight: 600;
  line-height: 43px; /* 43.2px */
}

h4,
.h4 {
  /* basic heading styles */
  font-size: 20px;
  font-family: $sub-font;
  font-weight: 600;
  line-height: 24px;
}

h5,
.h5 {
  /* basic heading styles */
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

h6,
.h6 {
  /* basic heading styles */
}

p {
  /* basic paragraph styles */

  font-family: $font;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;

  &:empty {
    display: none;
  }

  a {
    text-decoration: underline;
  }
}

ul {
  /* basic list styles */
  font-size: inherit;

  li {
    /* basic list-item styles */
  }
}

address {
  font-style: normal;
  margin-bottom: $global-margin;
}

a {
  color: inherit;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    /* basic hover and focus effects */
    color: $sun;
  }
}

/* ---------------------------------------
	Tiny MCE formats
--------------------------------------- */

.text-large {
  font-size: 125%;
}

.text-align-justify {
  text-align: justify;
}

/* ---------------------------------------
	Tables
--------------------------------------- */
table {
  margin-bottom: 1rem;

  th,
  td {
    border: $table-border;
    padding: 0.75rem;
  }
}

/* ---------------------------------------
	Forms/Inputs
--------------------------------------- */

.no-outline {
  button,
  a,
  [tabindex] {
    outline: none;
  }
}

/* Placeholder styling */

input,
textarea {
  &::placeholder {
    opacity: 1;
  }
}

/* Input Styling */

[type='color'],
[type='date'],
[type='datetime-local'],
[type='datetime'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
textarea,
select,
.select-styled {
  $height: ($input-font-size * unitless-calc($input-line-height)) +
    (get-side($input-padding, 'top') + get-side($input-padding, 'bottom')) +
    rem-calc(get-border-value($input-border, 'width') * 2);

  /* STYLES GO THERE */
  height: $height;
  margin-bottom: 0;
}

textarea[rows] {
  /* Styles for TextArea */
  height: 150px;
  max-width: 100%;
}

[type='number'] {
  -moz-appearance: textfield;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

[type='checkbox'],
[type='file'],
[type='radio'] {
  margin-bottom: 0;
}

button,
.button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  border-width: $button-hollow-border-width;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  //&:hover,
  //&:focus {
  //}
}

/* Button additional styles */

.sbi_load_btn,
.button {
  background-color: $sun;
  color: $midnight-blue;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 9px 0 !important;
  position: relative;

  &:hover,
  &:focus {
    /* basic hover and focus effects */
    background-color: $sun-light;
    color: $midnight-blue;
  }
}

.sbi_load_btn,
.button--arrow {
  padding: 8px 43px 8px 16px !important;

  &:after {
    content: url('../../images/arrow.svg');
    position: absolute;
    width: 19px;
    height: 19px;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    transition: all 0.5s ease-out;
    text-transform: uppercase;
  }

  &:hover,
  &:focus {
    /* basic hover and focus effects */
    background-color: $sun-light;
    color: $midnight-blue;

    &:after {
      right: 8px;
    }
  }
}

.sbi_follow_btn a,
.button--pin,
.button--web {
  background-color: $secondary-sun;
  padding: 8px 16px 8px 43px;
  border-radius: 9px 0 !important;

  &:after {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: all 0.5s ease-out;
    text-transform: uppercase;
  }
}

.button--pin {
  &:after {
    content: url('../../images/pin.svg');
  }
}

.button--web {
  &:after {
    content: url('../../images/globe.svg');
  }
}

.facebook-btn {
  background-color: $white;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid var(--Blue-Stroke, #d9e1ec);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  color: #000;
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 0.5s ease-out;

  .fa-facebook {
    color: #1877f2;
    font-size: 32px;
  }

  &:hover {
    color: #000;
    gap: 15px;
  }
}

.section-row__reverce {
  display: flex;
  flex-direction: row-reverse;
}

.download-button {
  display: block;
  width: 100%;
  max-width: fit-content;
  margin: 32px auto;
}

.sbi_follow_btn a {
  color: $midnight-blue;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 16px;
}

iframe {
  width: 100%;
  max-height: 450px;
}

.pagination-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  //column-gap: 24px;
  margin-top: 32px;

  //.pagination,
  .page-numbers {
    font-size: 16px;
    line-height: 140%; /* 22.4px */
    margin-right: 24px;
    background-color: transparent;
    color: $midnight-blue;

    &.next,
    &.prev {
      display: none;
    }

    &.current {
      font-weight: 600;
      color: $midnight-blue;
    }

    &:hover {
      background-color: transparent;
      font-weight: 600;
    }
  }
}

#pagination-info-search,
#pagination-info {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}

.custom-breadcrumbs {
  margin: 37px 0 40px;

  a,
  span {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: 2.8px;
    text-transform: uppercase;
    vertical-align: middle;
  }

  .home-url {
    font-size: 0;

    &:before {
      content: '\f015';
      font-size: 16px;
      font-family: $fa;
    }
  }
}
